* {
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 300px;
    object-fit: cover;
}

.registration-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-welcome {
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    margin: 10px 0;
    width: 300px;
}
.input-welcome:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px 20px;
    border: 2px solid rgb(171, 171, 171);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    margin: 10px 0;
    width: 150px;
}
button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.logo-small {
    height: 120px;
    object-fit: cover;
}

.upload-input {
    border: 1px solid rgb(87, 0, 169);
    padding: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid rgb(171, 171, 171);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    margin: 10px 0;
    width: 300px;
}

.profile-image-small {
    border-radius: 30px;
    height: 80px;
    object-fit: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploader-form-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dotted rgb(87, 0, 169);
    width: 600px;
    min-height: 200px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    padding: ;
}

.modal-backgroud-div {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.exit-button {
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
    padding: 5px;
    width: 10px;
    border-radius: 50;
    align-items: center;
    justify-content: center;
}

.exit-button:hover {
    border: 2px solid grey;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background-color: antiquewhite;

    width: 90vw;
}

.bio {
    background-color: rgb(206, 177, 136);
    width: 70%;
}
